---
import { GenImage } from "@data/genImage";

export interface Props {
  image: GenImage | string;
  title?: string;
  // closeModal: () => void;
}

const { title, image } = Astro.props;
---

<div class="modal">
  {title}
  <div class="modal-guts">{"lul"}</div>
</div>
<div class="modal-overlay"></div>
