---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import { Image } from "@astrojs/image/components";
import { authors } from "@data/authors";
import Pagetitle from "@components/pagetitle.astro";
import Link from "@components/ui/link.astro";
import SpanImage from "@components/content/SpanImage.astro";
import { SESSIONS } from "@data/genImage";
import { PLACEHOLDER_IMAGE } from "@utils/utils";
---

<Layout title="About">
  <Container>
    <Pagetitle>
      <Fragment slot="title">About Diffusion Doctor</Fragment>
      <Fragment slot="desc">
        Welcome to Diffusion Doctor, a blog dedicated to showcasing the latest
        and greatest in AI-generated images. Our focus is on stable diffusion
        models, which allow for the creation of high-quality images with a wide
        range of applications.
      </Fragment>
    </Pagetitle>

    <SpanImage class="my-5" aspectRatio={"3 / 1"} image={PLACEHOLDER_IMAGE} />
    <p class="text-center text-lg mt-3 text-gray-600 dark:text-gray-300">
      From art and design to scientific visualization, we explore the
      possibilities and limitations of this cutting-edge technology. Check in
      every week for new articles and exciting examples of AI-generated images.
      <br />
      It is not our goal to only show the most shiny results, but also failed attempts
      and learnings from the process.
    </p>

    <div class="flex items-center justify-center mt-6">
      <div class="group">
        <div class="w-50 aspect-square">
          <Image
            src={authors.tadeoHepperle.image}
            format="avif"
            width={200}
            height={200}
            alt="Tadeo Hepperle"
            class="w-full h-full object-cover rounded transition group-hover:-translate-y-1 group-hover:shadow-xl"
          />
        </div>

        <div class="mt-4 text-center">
          <h3 class="text-sm text-gray-500">
            {authors.tadeoHepperle.name}<br />Yep that's me.
          </h3>
        </div>
      </div>
    </div>

    <div class="mx-auto max-w-xl text-center mt-4">
      <p class="text-lg leading-relaxed text-gray-600 dark:text-gray-300">
        Feel free to reach out to me, if you generate images yourself and want
        to showcase some on our blog. We want to give more exposure to AI art.
      </p>
      <div class="mt-8">
        <Link href="/contact" style="primary">Get in touch</Link>
      </div>
    </div>
  </Container>
</Layout>
