---
import Container from "@components/container.astro";
import Pagetitle from "@components/pagetitle.astro";
import Postcard from "@components/postcard.astro";
import Layout from "@layouts/Layout.astro";
import { getLatestPosts } from "@utils/content";
const latestPosts = await getLatestPosts();
---

<Layout title="Archive">
  <Container>
    <Pagetitle>
      <Fragment slot="title">Archive</Fragment>
      <Fragment slot="desc">See all posts about Stable Diffusion.</Fragment>
    </Pagetitle>
    <main>
      <div class="grid gap-10 mt-10 lg:gap-10 md:grid-cols-2 xl:grid-cols-3">
        {
          latestPosts.map((post) => (
            <Postcard postData={post.data} aspect="square" />
          ))
        }
      </div>
    </main>
  </Container>
</Layout>
