---
import Comments from "@components/comments.astro";
import Container from "@components/container.astro";
import Postcard from "@components/postcard.astro";
import { BlogPost } from "@data/blogPost";
import Layout from "@layouts/Layout.astro";
import { getLatestPosts } from "@utils/content";
const latestPosts = await getLatestPosts();
---

<Layout title="">
  <Container>
    <main>
      <div class="grid gap-10 lg:gap-10 md:grid-cols-2">
        {
          latestPosts
            .slice(0, 2)
            .map((post) => (
              <Postcard
                postData={post.data}
                aspect="landscape"
                preloadImage={true}
              />
            ))
        }
      </div>
      <div class="grid gap-10 mt-10 lg:gap-10 md:grid-cols-3 xl:grid-cols-3">
        {
          latestPosts
            .slice(2)
            .map((post) => <Postcard postData={post.data} aspect="square" />)
        }
      </div>
      <Comments pageTitle="index" pageURL="https://diffusiondoctor.com/" />
    </main>
  </Container>
</Layout>
