---
import Comments from "@components/comments.astro";
import ReactMarkdown from "react-markdown";
import remarkGfm from "remark-gfm";
---

<ReactMarkdown children="# hello\n - lul" remarkPlugins={[remarkGfm]} />
<!-- {
  ReactMarkdown({
    children: "# hello \n - sd sdds", //"# Title \n lululul \n - list 1\n - list 3",
    remarkPlugins: [remarkGfm],
  })
} -->
<div>Hey M</div>

<Comments pageTitle="m" pageURL="https://diffusiondoctor.com/m" />

<!-- <D /> -->
