---
import { authors } from "@data/authors";
import { BlogPostDataNoSlug } from "@data/blogPost";
import { categories } from "@data/category";
import { md } from "@utils/markdown";

export const draft = true;

export const data: BlogPostDataNoSlug = {
  title: "__________",
  excerpt: "________",
  publishDate: "2023-01-18",
  image: "public/images/misc/default_post_header_image.jpeg",
  category: categories.challenge,
  author: authors.tadeoHepperle,
  tags: ["_____"],
};
---

<div>
  {
    md`
# Example Post

lolololol
    `
  }
</div>
