---
import ImageGrid from "@components/content/ImageGrid.astro";
import SpanImage from "@components/content/SpanImage.astro";
import { authors } from "@data/authors";
import { BlogPostDataNoSlug } from "@data/blogPost";
import { categories } from "@data/category";
import { MISC } from "@data/generated/misc";
import { SESSIONS } from "@data/genImage";
import { md } from "@utils/markdown";
import { allSessionItems } from "@utils/utils";

export const draft = false;

export const data: BlogPostDataNoSlug = {
  title: "Amazing Melee Weapons with Stable Diffusion",
  excerpt:
    "If you develop a roleplaying or fighting game, you need weapons. Lot's of weapons. We explore how to use stable diffusion to generate amazing weapon sprites for you automatically.",
  publishDate: "2023-01-24",
  image: MISC.blogposts.weapons1.thumbnailweapons_jpg,
  category: categories.objectStudies,
  author: authors.tadeoHepperle,
  tags: ["weapons", "melee combat", "games", "assets"],
};
---

<div>
  {
    md`
# AI-generated Melee Weapons

In this article, we explore how to use stable diffusion to generate weapon sprites for you automatically.
The goal is to have melee weapon sprites like swords, hammers, axes and daggers that have a consistent style and could be used in a 2d fighting game as weapons and inventory icons. We want a clear background that we can easily turn transparent in any photo editing software to get a free floating melee weapon.

### Prompts

I mostly used the following prompt:

> (WEAPON NAME), dnd style, rpg item, fantasy, enchanted, highly detailed, ornaments, wood, wooden handle, leather handle, gemstones

With the negative prompt:

> cropped, ((out of frame)), ugly, deformed, (blur)

### Input Images

Without input images it is very hard to tell the model to keep the background clear for easy editing. So I just draw the shape of the weapon I want on a clear (white or black) background.
The results you see below are from the Protogen v3.4 model with 768x768 resolution, resulting from input images like these:
    `
  }
  <SpanImage image={MISC.blogposts.weapons1.inputweapons_png} />
  {
    md`
## Pickaxes
    `
  }
  <ImageGrid
    xDim={4}
    mobileXDim={2}
    images={[
      SESSIONS.weapons1
        .a_battle_axe_dnd_style_rpg_item_highly_detailed_7485506_768x768_s40_g352_p08_protogenX34Photorealism_1_1615387787,
      SESSIONS.weapons1
        .a_battle_axe_dnd_style_rpg_item_highly_detailed_3077165_768x768_s40_g352_p08_protogenX34Photorealism_1_1615387787,
      SESSIONS.weapons1
        .a_battle_axe_dnd_style_rpg_item_highly_detailed_481507_768x768_s40_g352_p08_protogenX34Photorealism_1_1615387787,

      SESSIONS.weapons1
        .a_battle_axe_dnd_style_rpg_item_highly_detailed_7026663_768x768_s40_g352_p08_protogenX34Photorealism_1_1615387787,
      SESSIONS.weapons1
        .pickaxe_weapon_dnd_style_rpg_item_fantasy_ench_7876116_768x768_s40_g254_p08_protogenX34Photorealism_1_1615387787,
      SESSIONS.weapons1
        .pickaxe_weapon_dnd_style_rpg_item_fantasy_ench_1324119_768x768_s50_g75_p07_protogenX34Photorealism_1_1615387787,
      SESSIONS.weapons1
        .pickaxe_weapon_dnd_style_rpg_item_fantasy_ench_1324120_768x768_s50_g75_p07_protogenX34Photorealism_1_1615387787,
      SESSIONS.weapons1
        .pickaxe_weapon_dnd_style_rpg_item_fantasy_ench_1324122_768x768_s50_g75_p07_protogenX34Photorealism_1_1615387787,
    ]}
  />
  {
    md`
Some of these look like Minecraft-inspired diamondpickaxes, while others have more of an egyptiantouch to them.

## Battle Axes

I really like the first and second axe. Some start to grow a weird hammer like extension at the back, which does not look too good. One of the axes even has a sword attached to it's blade.
    `
  }
  <ImageGrid
    xDim={4}
    mobileXDim={2}
    images={[
      SESSIONS.weapons1
        .a_battle_axe_dnd_style_rpg_item_highly_detailed_8672227_768x768_s50_g75_p07_protogenX34Photorealism_1_1615387787,
      SESSIONS.weapons1
        .pickaxe_weapon_dnd_style_rpg_item_fantasy_ench_8399472_768x768_s40_g71_p08_protogenX34Photorealism_1_1382470852,
      SESSIONS.weapons1
        .a_battle_axe_dnd_style_rpg_item_highly_detailed_334664_768x768_s50_g75_p07_protogenX34Photorealism_1_1615387787,

      SESSIONS.weapons1
        .a_battle_axe_dnd_style_rpg_item_highly_detailed_7330501_768x768_s40_g265_p08_protogenX34Photorealism_1_1615387787,
      SESSIONS.weapons1
        .a_battle_axe_dnd_style_rpg_item_highly_detailed_45812_768x768_s40_g352_p08_protogenX34Photorealism_1_1615387787,
      SESSIONS.weapons1
        .a_battle_axe_dnd_style_rpg_item_highly_detailed_9965062_768x768_s40_g352_p08_protogenX34Photorealism_1_1615387787,
      SESSIONS.weapons1
        .a_battle_axe_dnd_style_rpg_item_highly_detailed_260681_768x768_s40_g265_p08_protogenX34Photorealism_1_1615387787,
      SESSIONS.weapons1
        .a_battle_axe_dnd_style_rpg_item_highly_detailed_8672223_768x768_s50_g75_p07_protogenX34Photorealism_1_1615387787,
    ]}
  />
  {
    md`
## Scythe-Axe Hybrids

These look interesting, especially the blade attached to the grip, which could be used as an alternative weapon for stabbing.
    `
  }

  <ImageGrid
    xDim={4}
    mobileXDim={2}
    images={[
      SESSIONS.weapons1
        .pickaxe_weapon_reaper_hoe_dnd_style_rpg_item_f_8326718_768x768_s40_g254_p08_protogenX34Photorealism_1_1615387787,
      SESSIONS.weapons1
        .pickaxe_weapon_reaper_hoe_dnd_style_rpg_item_f_4912926_768x768_s40_g254_p08_protogenX34Photorealism_1_1615387787,

      SESSIONS.weapons1
        .pickaxe_weapon_reaper_hoe_dnd_style_rpg_item_f_5339491_768x768_s40_g254_p08_protogenX34Photorealism_1_1615387787,
      SESSIONS.weapons1
        .pickaxe_weapon_reaper_hoe_dnd_style_rpg_item_f_8066587_768x768_s40_g254_p08_protogenX34Photorealism_1_1615387787,
    ]}
  />
  {
    md`
## Other melee weapons

Some weapons are hard to put in a category. What is this even supposed to be?
    `
  }

  <ImageGrid
    xDim={3}
    mobileXDim={2}
    images={[
      SESSIONS.weapons1
        .a_battle_axe_dnd_style_rpg_item_highly_detailed_354720_768x768_s40_g265_p08_protogenX34Photorealism_1_1615387787,
      SESSIONS.weapons1
        .pickaxe_weapon_dnd_style_rpg_item_fantasy_ench_7853820_768x768_s40_g71_p08_protogenX34Photorealism_1_1382470852,

      SESSIONS.weapons1
        .pickaxe_weapon_reaper_hoe_dnd_style_rpg_item_f_4705624_768x768_s40_g254_p08_protogenX34Photorealism_1_1615387787,

      SESSIONS.weapons1
        .a_battle_axe_dnd_style_rpg_item_highly_detailed_3647260_768x768_s40_g33_p095_protogenX34Photorealism_1_1615387787,

      SESSIONS.weapons1
        .war_hammer_weapon_reaper_hoe_dnd_style_rpg_item_9153341_768x768_s40_g254_p08_protogenX34Photorealism_1_1615387787,

      SESSIONS.weapons1
        .a_battle_axe_dnd_style_rpg_item_highly_detailed_9529449_768x768_s40_g265_p08_protogenX34Photorealism_1_1615387787,
    ]}
    titles={[
      "How the sun is watching you, when you sleep in.",
      "Seems a bit fragile for a weapon.",
      `"So yeah, my spear wanted an earring."`,
      "Asked for 1. Got 2. Great deal.",
      "It has a rattle on top to make some rythms in battle.",
      "The detachable grip is not a bug, it's a feature.",
    ]}
  />
  {
    md`
Notice how the model does not care for the palms of our hero's hands. Almost all grips are sharp metal constructions. Or even worse: the grip appears to be a blade. Good luck with that.

## Some weird results

What is this? Honestly, I don't know how to describe this monstrosity:
    `
  }

  <ImageGrid
    xDim={2}
    mobileXDim={1}
    images={[
      SESSIONS.weapons1
        .a_battle_axe_dnd_style_rpg_item_highly_detailed_7696492_768x768_s40_g265_p08_protogenX34Photorealism_1_1615387787,
      SESSIONS.weapons1
        .pickaxe_weapon_dnd_style_rpg_item_fantasy_ench_1324118_768x768_s50_g75_p07_protogenX34Photorealism_1_1615387787,
    ]}
  />
  {
    md`
What you have seen so far are just the usable results, but I want to show you the complete story. Many times the model generated artifacts that are sometimes just little islands of stuff next to the weapon like here:
    `
  }

  <ImageGrid
    xDim={3}
    mobileXDim={2}
    images={[
      SESSIONS.weapons1
        .pickaxe_weapon_reaper_hoe_dnd_style_rpg_item_f_8974683_768x768_s40_g254_p08_protogenX34Photorealism_1_1615387787,
      SESSIONS.weapons1
        .war_hammer_weapon_reaper_hoe_dnd_style_rpg_item_7248401_768x768_s40_g254_p08_protogenX34Photorealism_1_1615387787,
      SESSIONS.weapons1
        .sword_dnd_style_rpg_item_fantasy_enchanted_9906369_768x768_s40_g254_p08_protogenX34Photorealism_1_1615387787,
      SESSIONS.weapons1
        .pickaxe_weapon_dnd_style_rpg_item_fantasy_ench_1568340_768x768_s40_g254_p08_protogenX34Photorealism_1_1615387787,

      SESSIONS.weapons1
        .a_battle_axe_dnd_style_rpg_item_highly_detailed_334665_768x768_s50_g75_p07_protogenX34Photorealism_1_1615387787,

      SESSIONS.weapons1
        .a_battle_axe_dnd_style_rpg_item_highly_detailed_8672224_768x768_s50_g75_p07_protogenX34Photorealism_1_1615387787,
    ]}
  />
  {
    md`
Sometimes the blades are disconnected from the rest of the weapon in the case of axes. But without the Blades they make for great combat sticks for mages.

## Using a black background.

I am not sure if a white or black background is better for this task. Here you can see some examples:
    `
  }
  <ImageGrid
    xDim={4}
    mobileXDim={2}
    images={[
      SESSIONS.weapons1
        .a_battle_axe_dnd_style_rpg_item_highly_detailed_2709657_768x768_s40_g352_p08_protogenX34Photorealism_1_1615387787,
      SESSIONS.weapons1
        .Remove_Use_these_settingsa_battle_axe_dnd_style_5153791_768x768_s40_g352_p08_protogenX34Photorealism_1_1615387787,
      SESSIONS.weapons1
        .a_battle_axe_dnd_style_rpg_item_highly_detailed_191034_768x768_s40_g352_p08_protogenX34Photorealism_1_1615387787,
      SESSIONS.weapons1
        .a_battle_axe_dnd_style_rpg_item_highly_detailed_4866872_768x768_s40_g352_p08_protogenX34Photorealism_1_1615387787,
    ]}
  />
  {
    md`
I feel like the weapons on the black background have more shinyness/lighting on them. Let's remove the background and look at them side by side:
    `
  }
  <div class="alternating-background p-4 rounded-lg shadow-sm">
    <ImageGrid
      xDim={2}
      mobileXDim={1}
      images={[
        MISC.blogposts.weapons1.lightbg_png,
        MISC.blogposts.weapons1.darkbg_png,
      ]}
      titles={["original: white background", "original: black background"]}
    />
  </div>
  {
    md`
I let the background animate on purpose, such that you can compare them against different backgrounds. I feel like the white background is better in general. In the next article we will explore swords, bows and daggers. ALso I want to try if we can use the stable diffusion image to depth models to generate 3d models of the weapons.
    `
  }
</div>
