---
export interface Props {
  id: string;
  class?: string;
}

let { pageId, class: className } = Astro.props;
className = className ?? "";
// issue: the captcha button bug, thats why I dont use it.
const scriptInnerHTMLMETYPE = `

<script type='text/javascript'>
  window.talktype = window.talktype || function(f) {
    if (talktype.loaded)
      f();
    else
      (talktype.q = talktype.q || []).push(arguments);
  };
</script>
<script src='https://www.metype.com/quintype-metype/assets/metype.js'></script>



<script type="text/javascript">
  talktype(function() {
    var pageUrl = window.location.href;
    var pageMetadata = {"id": "${pageId}"} ;
    var accountId = '1003311';
    var metypeHost = 'https://www.metype.com/';
    talktype.pageMetadataSetter(accountId, pageUrl, pageMetadata, metypeHost);
  });
</script>




<div id='metype-container' class='iframe-container' data-metype-account-id='1003311' data-metype-host='https://www.metype.com/' data-metype-primary-color='#0000ff' data-metype-bg-color='#000000' data-metype-font-color='#ffff00'></div>
<script type='text/javascript'>
  var metypeContainer = document.getElementById("metype-container"),
    page_url = metypeContainer.getAttribute("data-metype-page-url");
  metypeContainer.setAttribute('data-metype-page-url', page_url || window.location.href);
  metypeContainer.setAttribute('data-metype-window-height', window.innerHeight);
  metypeContainer.setAttribute('data-metype-screen-width', window.screen.width);
  talktype(function() {
    talktype.commentWidgetIframe(metypeContainer);
  });
</script>


`;

const scriptInnerHTML = `


<script type="text/javascript">

  /* - - - CONFIGURATION VARIABLES - - - */

  var __semio__params = {
    graphcommentId: "diffusiondoctor", // make sure the id is yours

    behaviour: {
      // HIGHLY RECOMMENDED
      //  uid: "${pageId}", // uniq identifer for the comments thread on your page (ex: your page id)
    },
    "background": "#0000ff",

    "sidePanel": {
      "width": 480,
      "button": {
        "background": "#f35b5b",
        "color": "#ffffff",
        "label": "Comments"
      },
      "visible": false
    }

  }

  /* - - - DON'T EDIT BELOW THIS LINE - - - */

  function __semio__onload() {
    __semio__gc_sidePanel_graphlogin(__semio__params)
  }


  (function() {
    var gc = document.createElement('script'); gc.type = 'text/javascript'; gc.async = true;
    gc.onload = __semio__onload; gc.defer = true; gc.src = 'https://integration.graphcomment.com/gc_sidePanel_graphlogin.js?' + Date.now();
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(gc);
  })();
  

</script>
`;
---

<div class={className}>
  <div id="graphcomment"></div>
</div>

<Fragment set:html={scriptInnerHTML} />
