---
export interface Props {
  pageTitle: string; // http://chengkang.me/wildfire
  pageURL: string; // Wildfire App
}

const { pageTitle, pageURL } = Astro.props;

const scriptInnerHTML = `
<div class="wildfire_thread"></div>

<script>
  var wildfireConfig = () => ({
    apiKey: "AIzaSyB_Jg6BWjf9eTJG5HSVELVKuU7IDyWpK-c",
    authDomain: "diffusiondoctor.firebaseapp.com",
    databaseURL:
      "https://diffusiondoctor-default-rtdb.europe-west1.firebasedatabase.app",
    projectId: "diffusiondoctor",
    storageBucket: "diffusiondoctor.appspot.com",
    messagingSenderId: "131863485567",
    appId: "1:131863485567:web:0d7032a8fa8ebb71a0334a",
    measurementId: "G-4EPZ6Q4PYE",
    pageURL: "${pageURL}",
    pageTitle: "${pageTitle}",
    theme: "dark",
  });
</script>
<script src="https://unpkg.com/@chengkang/wildfire/dist/wildfire.auto.js"
></script>
<script type="text/javascript">
  var wildfireConfig = () => ({
    databaseProvider: "wilddog",
    databaseConfig: {
      siteId: "wd2168973289ifdmcg",
    },
    pageURL: "http://chengkang.me/wildfire",
    pageTitle: "Wildfire Demo",
    theme: "dark",
    locale: "en",
  });
</script>
`;
---

<Fragment set:html={scriptInnerHTML} />
