---
import "@assets/base.css";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar.astro";
import { SEO_CONSTANTS } from "@data/seo";
import "@fontsource/inter/variable.css";
import { checkImageUrl } from "@utils/utils";
import { SEO } from "astro-seo";

export interface Props {
  title?: string;
  desc?: string;
  ogimage?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const {
  title,
  desc,
  ogimage = "/images/misc/default_post_header_image.jpeg",
} = Astro.props;

console.log("ogimage", ogimage);
const resolvedOGImage = checkImageUrl(ogimage, Astro.site);
console.log("resolvedOGImage", resolvedOGImage);

const makeTitle = title ? title + " | Diffusion Doctor" : SEO_CONSTANTS.title;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={makeTitle}
      description={desc || SEO_CONSTANTS.description}
      canonical={canonicalURL}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: "Diffusion Doctor",
          image: resolvedOGImage,
        },
        image: {
          alt: "Diffusion Doctor",
        },
      }}
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
