---
interface Props {
  image_512: string;
  image_2048: string;
  prompt: string;
}

const { image_512, image_2048, prompt } = Astro.props;
---

<div>{image_512}</div>
<div class="w-10 h-20 bg-black text-red-200">Hello</div>
<!-- <img src={image_512} alt="" /> -->
