---
export interface Props {
  label: string;
  value: any;
}

const { label, value } = Astro.props;
---

<div
  class="mt-1 mr-2 inline-block px-2 group-hover:bg-opacity-80 bg-white bg-opacity-0 text-gray-800 dark:text-gray-200 dark:bg-black rounded">
  <span class="label">{label}:</span>
  {value}
</div>
